<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Blogger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/blogs">Blogs</a>
                    <a class="nav-item nav-link" href="/myblogs">My Blogs</a>
                    <a class="nav-item nav-link" href="/users/profile">Profile</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <form action="/users/logout" method="POST">
                        <a class="nav-link" href="#" onclick="this.parentNode.submit()">LOGOUT</a>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>